<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">

<servlet>
<servlet-name>CookieSet</servlet-name>
<servlet-class>CookieSet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CookieSet</servlet-name>
<url-pattern>/cook.do</url-pattern>
</servlet-mapping>                         
             
<context-param>
        <param-name>CafePr</param-name>
        <param-value>18.5</param-value>
</context-param>
<context-param>
        <param-name>SugarPr</param-name>
        <param-value>6.95</param-value>
</context-param>
<context-param>
        <param-name>WaterPr</param-name>
        <param-value>1.29</param-value>
</context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
